[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule "tmux/tmux/plugins/tmux-resurrect"]
	path = tmux/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
